---
import MainHead from '../components/MainHead.astro';
import Footer from '../components/Footer.astro';
import Nav from '../components/Nav.astro';
---
<!DOCTYPE html>
<html lang="es">
  <head>
    <MainHead
      title="Productos | Alberto Millán"
      description="Compre una pagína web o tienda virtual"
    />
  </head>
  <body>
    <Nav />
    <h1 class="px-20 py-10 text-start">Politica de  Privacidad</h1>
    <p class="px-20 py-5 text-left text-black">
      
    </p>
	<p class="px-20 py-1 text-left text-black">
      
    </p>
    <p class="px-20 py-1 text-left text-black">
      
    </p>

    <Footer />
  </body>
</html>

