---
import MainHead from "../components/MainHead.astro";
import Footer from "../components/Footer.astro";
import Nav from "../components/Nav.astro";
---

<!DOCTYPE html>
<html lang="es">
  <head>
    <MainHead
      title="Productos | Alberto Millán"
      description="Compre una pagína web o tienda virtual"
    />
  </head>
  <body>
    <Nav />
    <h1 class="px-20 py-10 text-start">Terminos y Condiciones</h1>
    <p class="px-20 py-5 text-left text-black">
      El sitio web https://albertomillan.co es propiedad de Alberto Millán.
      Conocido en adelante como PROPIETARIO. Este aviso legal de términos y
      condiciones de uso tiene como objetivo explicar cómo se regula el acceso,
      navegación y utilización del presente sitio web.
    </p>
	<p class="px-20 py-1 text-left text-black">
      PROPIETARIO se reserva el derecho de modificar la presentación,
      configuración y contenido del sitio web, así como las condiciones
      requeridas para el acceso y uso de https://albertomillan.co en cualquier
      momento y sin previo aviso.
    </p>
    <p class="px-20 py-1 text-left text-black">
      El acceso, navegación y utilización del sitio web implica la aceptación
      expresa y sin reservas de todos los términos y condiciones establecidos en
      este aviso legal. Estos términos y condiciones tienen la misma validez y
      eficacia que cualquier contrato celebrado por escrito y/o firmado. Es
      obligatorio cumplir con estos términos y condiciones para cualquier
      persona que acceda, navegue o utilice el sitio web de PROPIETARIO. Si no
      está de acuerdo con estos términos, no debe acceder, navegar o utilizar
      este sitio web.
    </p>

    <Footer />
  </body>
</html>
