---
import Button from '../components/ButtonCompra';
const currentYear = new Date().getFullYear();
---
<div >
	
<footer>
	<div class=" flex flex-row px-10 ">
	<Button client:load />
	</div>

	<div class="grip text-center py-10">
		Alberto Millán C <br>  &copy;{currentYear} 
	<small class="byline">🚀 Construido con Astro</small>
	</div>

</footer>
</div>
<style>
	footer {
		text-align: center;
		padding-top: 8rem;
		padding-right: 2rem;
		padding-bottom: 4rem;
		padding-left: 2rem;
	}

	.byline {
		display: block;
		margin-top: 1rem;
		color: var(--t-subdue);
		font-size: var(--f-d2);
		text-transform: uppercase;
	}
</style>
