---
import DateYear from './date';
import { Component } from 'react';
import Button from '../components/ButtonCompra';


const currentYear = new Date().getFullYear();
---
<div class=" background:#05091e px-1 py-1">
	
<footer>
	<div >
	<Button client:load/>
	</div>

	<div class="container justify-center flex flex-auto  ">
		   <DateYear/> 	
		
	</div>
	
	

</footer>
</div>
<style>
	footer {
		text-align: center;
		padding-top: 8rem;
		padding-right: 2rem;
		padding-bottom: 4rem;
		padding-left: 2rem;
	}

	.byline {
		display: block;
		margin-top: 1rem;
		color: var(--t-subdue);
		font-size: var(--f-d2);
		text-transform: uppercase;
	}
</style>
