---
import DateYear from "../components/reactComponents/date";
import { Component } from "react";
import Button from "../components/reactComponents/ButtonCompra";

const currentYear = new Date().getFullYear();
---

<div class="colorfood px-0 py-0">
  <footer class="py-5 px-0">
    <div>
      <Button client:load />
    </div>

    <div class="container justify-center flex flex-auto">
      <DateYear />
    </div>
  </footer>
</div>
<style>
  footer {
    text-align: center;
    padding-top: 8rem;
    padding-right: 2rem;
    padding-bottom: 4rem;
    padding-left: 2rem;
  }
  .colorfood {
    background-color: var(--t-fg);
;
  }

  .byline {
    display: block;
    margin-top: 1rem;
    color: var(--t-subdue);
    font-size: var(--f-d2);
    text-transform: uppercase;
  }
</style>
